<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button default-href="/Inicio"></ion-back-button>
    </ion-buttons>
    

    <ion-title>toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toggle mode="ios" color="success">Toggle Verde</ion-toggle><br /><br />
  <ion-toggle labelPlacement="end" mode="ios" color="success">Label at the End</ion-toggle><br /><br />

  <ion-toggle mode="ios" color="warning">Toggle Amarillo</ion-toggle><br /><br />

  <ion-toggle mode="ios" color="danger">Toggle Rojo</ion-toggle><br /><br />
  <ion-toggle labelPlacement="stacked" mode="ios" color="danger">Stacked Label</ion-toggle>

</ion-content>
