<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
  #Amber="ngForm" (ngSubmit)="login(Amber)">

  <ion-input
  name="email" [(ngModel)]="email"
  label="Correo electronico"
  label-placement="floating" fill="outline"
  placeholder="Ingresa tu correo" type="email" required=" {alert} Debes de llenar este campo">  </ion-input>

  <ion-input name="password" [(ngModel)]="password"
  label="Contraseña" label-placement="floating" fill="outline"
  placeholder="Ingresa tu Contraseña" type="password" required=" {alert} Debes de llenar este campo"> </ion-input>

  <ion-button type="submit" color="light">Emviar</ion-button>
</form>

</ion-content>
